@charset "UTF-8";

/*Vendor*/
/* Slider */
.slick-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  z-index: 2;
}

.slick-dots li {
  margin: 0 .5rem;
}

.slick-dots li.slick-active button {
  background-color: #fff;
}

.slick-dots button {
  width: 11px;
  height: 11px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.slick-dots button:focus {
  outline: 0;
}

/*Blocks*/
* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
}

body.no-scroll {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.img img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  list-style: none;
  font-weight: 400;
}

.container {
  max-width: 1200px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  padding: 2rem 0;
}

.header .anchor {
  visibility: hidden;
}

.header__inner {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.user__name {
  font-size: 1rem;
  letter-spacing: 2;
  color: #1d1d1d;
  font-weight: 800;
  line-height: 1.2rem;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.user__name--mobile {
  top: 0;
  left: 0;
  margin: 1rem 0 0 1rem;
  position: absolute;
}

.user__prof {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
}

.nav__link {
  font-size: 1rem;
  color: #1d1d1d;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin-left: 2rem;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #575757;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 1;
  width: 0%;
  left: 50%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav__link:hover:not(.nav__link--btn):after {
  display: block;
  width: 100%;
}

.nav__link:active:not(.nav__link--btn):after {
  content: "";
  display: block;
  height: 2px;
  background-color: #575757;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 1;
  width: 100%;
  left: 50%;
}

.nav__link--btn {
  letter-spacing: 0.4px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 2rem;
  border: 1px solid #1d1d1d;
  border-radius: 1px;
  transition: background-color .3s ease-in-out,
    color .3s ease-in-out;
  min-width: 160px;
  height: 48px;
  text-align: center;
  align-items: center;
  display: inline-block;
  background-color: #1d1d1d;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .nav__link--btn {
    letter-spacing: 0.1px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9rem 1.2rem;
    border: 1px solid #1d1d1d;
    border-radius: 1px;
    transition: background-color .3s ease-in-out,
      color .3s ease-in-out;
    min-width: 165px;
    height: 48px;
    text-align: center;
    align-items: center;
    display: inline-block;
    background-color: #1d1d1d;
    color: #ffffff;
  }
}

.nav__link--btn:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

.nav__link--btn+.btn {
  margin-left: 1rem;
}

.intro {
  height: 100vh;
}

.intro__inner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 8rem;
}

@media screen and (max-width: 1000px) {
  .intro__inner {
    padding-top: 10rem;
    padding-bottom: 8rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 600px) {
  .intro__inner {
    line-height: 1.2;
    padding-bottom: 1rem;
  }
}

.intro__content {
  width: 50%;
  padding-top: 16rem;
}

@media screen and (max-width: 600px) {
  .intro__content {
    width: 100%;
    padding-top: 2rem;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 8rem;
  margin-top: 2rem;
  color: #1d1d1d;
  opacity: 1;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  .intro__title {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
}

.intro__subtitle {
  font-family: 'Inter', sans-serif;
  width: 36ch;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 24px;
  color: #1d1d1d;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #990100;
  animation: flashing-border 0.4s step-end infinite, printed-text 3s steps(36);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 600px) {
  .intro__subtitle {
    animation: none;
  }
}

@keyframes flashing-border {
  0% {
    border-color: #990100;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: #990100;
  }
}

@keyframes printed-text {
  from {
    width: 0;
  }
}

@media screen and (max-width: 600px) {
  .intro__subtitle {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.disk {
  position: relative;
  background: #4a9266;
  width: 30%;
  padding: 15% 0;
  border-radius: 50%;
  /* адаптивный круг */
  margin: 10% auto;
  font: 4.5vmin monospace;
}

.intro__media {
  width: 50%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .intro__media {
    margin-right: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .intro__media {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.social {
  margin-bottom: 2.8rem;
  display: flex;
}

.social__link {
  text-decoration: none;
  margin-right: 10px;
  transition: transform .2s linear;
  text-decoration: none;
  margin-right: 1rem;
  color: #575757;
}

.social__link:hover {
  color: #990100;
}

.social__link--btn {
  margin-top: 32px;
  display: inline-block;
  margin: 0 auto;
}

.decoration-text {
  margin-bottom: 10rem;
}

@media screen and (max-width: 600px) {
  .decoration-text {
    margin: 6rem 0;
  }
}

.works {
  margin: 2.8rem 0;
}

@media screen and (max-width: 999px) {
  .works {
    margin-top: 6rem;
  }
}

.works__info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .works__info {
    display: block;
  }
}

.works__info--title {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .works__info--title {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .works__info--title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.works__nav {
  display: flex;
  text-align: right;
  margin-bottom: 1.4rem;
}

@media screen and (max-width: 600px) {
  .works__nav {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    text-align: left;
  }
}

.works__nav-link:last-child {
  margin-right: 0 !important;
}

.works__nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: #1d1d1d;
  cursor: pointer;
  position: relative;
  margin: 0 1.5rem;
}

@media screen and (max-width: 1024px) {
  .works__nav-link {
    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  .works__nav-link {
    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 0.6rem;
  }
}

.works__nav-link:hover {
  color: #990100;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  justify-content: space-between;
}

.portfolio .anchor {
  visibility: visible;
}

.portfolio__col {
  margin-top: 1rem;
  flex-basis: 50%;
  padding: 1rem;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .portfolio__col {
    flex-basis: 100%;
    padding-right: 0.4rem;
  }
}

.project__link {
  text-decoration: none;
  font-weight: 400;
  color: #1d1d1d;
}

.project__link:hover {
  color: #990100;
}

.hide {
  display: none;
}

.work {
  position: relative;
  overflow: hidden;
  transition: transform .2s linear;
  cursor: pointer;
}

.work:hover {
  transform: translateY(-3px);
}

.work__img-wrapper {
  display: inline-block;
  object-fit: cover;
  width: 580px;
  height: 360px;
  background-color: #000000;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .work__img-wrapper {
    width: 580px;
    height: 260px;
  }
}

.work__image {
  position: relative;
  display: inline-block;
  object-fit: cover;
  width: 580px;
  height: 360px;
  transition: 0.2s;
  z-index: 10;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .work__image {
    width: 580px;
    height: 260px;
    opacity: 80%;
  }
}

.work__image:hover {
  opacity: 30%;
}

.work__content {
  text-align: center;
  top: 40%;
  bottom: 40%;
  left: 25%;
  right: 25%;
  position: absolute;
  display: inline-block;
  z-index: 1;
}

@media screen and (max-width: 400px) {
  .work__content {
    z-index: 100;
    left: 20%;
    right: 20%;
    top: 30%;
  }
}

.work__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  color: #ffffff;
  opacity: 1;
  padding-top: 0.5rem;
}

@media screen and (max-width: 400px) {
  .work__title {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.6;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.work__subtitle {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #ffffff;
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .work__subtitle {
    font-size: 0.8rem;
  }
}

.about {
  margin: 8rem 0;
}

.about__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1090px;
}

.about__photo {
  max-height: 550px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.img__about {
  width: 100%;
  display: flex;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.about__photo,
.about__content {
  width: 50%;
}

@media screen and (max-width: 800px) {

  .about__photo,
  .about__content {
    width: 100%;
    flex-wrap: wrap;
  }
}

.about__content {
  padding-left: 2rem;
}

@media screen and (max-width: 1000px) {
  .about__content {
    padding-left: 1rem;
  }
}

.about__bigtitle {
  font-size: 3rem;
  color: #1d1d1d;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .about__bigtitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.about__text {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.social--about {
  padding: 0 .4rem;
  margin: 0;
}

.nav__link--btn--resume {
  margin: 0;
  background-color: #ffffff;
  color: #1d1d1d;
}

.nav__link--btn--resume:hover {
  background-color: #1d1d1d;
  color: #ffffff;
}

.nav__link--btn--about {
  margin: 0 auto;
  margin: 1rem;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .nav__link--btn--about {
    margin-left: 0;
  }
}

.about__link {
  text-decoration: none;
  color: #575757;
}

.about__link:hover {
  color: #990100;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: white;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.news {
  margin-bottom: 2rem;
}

.news__inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.news__link {
  float: right;
  text-decoration: none;
  color: #575757;
}

.news__link:hover {
  color: #990100;
}

.news__header {
  font-size: 3rem;
  color: #1d1d1d;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .news__header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.news__subheader {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  max-width: 500px;
}

.news__subtitle {
  padding: 0 .4rem;
  font-size: 1rem;
  color: #575757;
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

.news__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  padding: 1rem 0 1rem 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.articles__link {
  text-decoration: none;
  color: #575757;
}

.articles__col {
  flex-basis: 33.33333%;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .articles__col {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .articles__col {
    flex-basis: 100%;
  }
}

.articles__item {
  overflow: hidden;
  transition: transform .2s linear;
  cursor: pointer;
}

.articles__item:hover {
  transform: translateY(-3px);
}

.articles__header {
  position: relative;
  margin-bottom: 1.35rem;
}

.articles__date {
  line-height: 2.1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 77px;
  background-color: #1d1d1d;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #ffffff;
  font-size: 1rem;
}

.articles__photo {
  display: block;
  max-width: 100%;
  height: 300px;
}

.articles__title {
  font-size: 1.2rem;
  color: #1d1d1d;
  line-height: 1.5;
  font-weight: 400;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.articles__info {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
}

.footer {
  padding: 1.35rem 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .footer__inner {
    display: block;
    align-items: flex-start;
  }
}

.footer__credits {
  display: flex;
  align-items: center;
}

.footer__copyright {
  margin-right: 1rem;
  padding-right: 8rem;
  font-size: .94rem;
  color: #1d1d1d;
  border-right: 1px solid fade(#575757, 35%);
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    display: none;
  }
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social a {
  text-decoration: none;
  margin-right: 1rem;
}

.footer__nav {
  display: flex;
  align-items: center;
}

.footer__nav--link {
  margin-left: 1.5rem;
  color: #1d1d1d;
  font-size: 0.94rem;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 650px) {
  .footer__nav--link {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.footer__nav--link:hover:not(.footer__nav--link--btn):hover {
  color: #990100;
}

.footer__nav--link--btn {
  letter-spacing: 0.4px;
  font-size: .94rem;
  font-weight: 500;
  padding: 0.85rem 2rem;
  border: 1px solid #1d1d1d;
  border-radius: 3px;
  transition: background-color .3s ease-in-out,
    color .3s ease-in-out;
  min-width: 160px;
  height: 48px;
  text-align: center;
  align-items: center;
  display: inline-block;
  background-color: #1d1d1d;
  color: #ffffff;
}

.footer__nav--link--btn:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

@media screen and (max-width: 880px) {
  .footer__nav--link--btn {
    letter-spacing: 0.1px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
    border: 1px solid #1d1d1d;
    border-radius: 2px;
    transition: background-color .3s ease-in-out,
      color .3s ease-in-out;
    width: 120px;
    height: 40px;
    text-align: center;
    align-items: center;
    display: inline-block;
    background-color: #1d1d1d;
    color: #ffffff;
  }
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #1d1d1d;
  padding: 1rem;
  overflow: scroll;
}

.modal.show {
  display: flex;
}

.modal__dialog {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  background-color: #fff;
  transform: scale(0);
  transition: transform .2s linear;
}

.modal__dialog--sm {
  max-width: 500px;
}

.modal__close {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  z-index: 1;
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
  transition: transform .2s linear;
  fill: red;
}

.modal__close:hover {
  transform: rotate(90deg);
  fill: #990100;
}

.modal__content {
  padding: 5rem 1rem;
}

.modal__title {
  font-size: 2rem;
  font-weight: 700;
  color: #1d1d1d;
}

.modal__subtitle {
  font-size: 1.06rem;
  color: #1d1d1d;
  font-weight: 400;
  line-height: 1.4;
}

.modal-work {
  display: flex;
  max-width: 1000px;
  max-height: 800px;
  height: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .modal-work {
    max-height: 400px;
  }
}



.modal-work__preview {
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 600px) {
  .modal-work {
    margin-top: 2rem;

  }
}



.modal-work__content {
  display: none;
}

.modal-work__photo {
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: 1;
  padding: 2rem;
  max-height: 750px;
}

.modal-work__title {
  font-size: 2rem;
  font-weight: 700;
  color: #1d1d1d;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.modal-work__info {
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
  margin-bottom: 1rem;
}

.modal-work__client {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

.modal-work__text {
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
  line-height: 1.6;
  margin-bottom: 8.66rem;
}

.modal-work__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0 1.8rem 1.8rem 1rem;
}

.modal-work__btn {
  font-size: 0.94rem;
  color: #575757;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  outline: none;
}

.modal-work__btn:hover {
  color: #990100;
}

.modal-work__btn--prev {
  margin-right: 0.2rem;
}

.modal-work__btn--icon:hover {
  fill: #990100;
}

.modal-work__btn--next {
  margin-left: 0.3rem;
}

.modal__close {
  display: flex;
  align-items: center;
  fill: #575757;
}

.modal__close:hover {
  fill: #990100;
  stroke: #990100;
}

.contact {
  display: flex;
}

.contact__title {
  font-size: 2rem;
  font-weight: 800;
  color: #1d1d1d;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 400px) {
  .contact__title {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}

.contact__subtitle {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
  margin-bottom: 2rem;
  width: 95%;
  line-height: 1.4;
}

.contact__left {
  width: 100%;
  padding: 2rem;
}

.contact__info {
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;
  font-size: 1rem;
  color: #575757;
  font-weight: 400;
}

.contact__info-item {
  display: flex;
  align-items: center;
}

.contact__info-item:last-child {
  margin-bottom: 0;
}

.contact__info-icon {
  margin-right: .75rem;
}

.form__group {
  margin-bottom: 1rem;
}

.form__label {
  display: inline-block;
  margin-bottom: .6rem;
  font-size: .8rem;
  color: #2b2a2c;
  font-weight: 700;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.2rem 0.8rem;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 0.1rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  opacity: 0.5;
}

.form__textarea {
  min-height: 180px;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #575757;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #2b2a2c;
}

.form__textarea {
  height: 100px;
  resize: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  margin-top: 1rem;
}

.btn__contact {
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #1d1d1d;
  border-radius: 1px;
  transition: background-color .3s ease-in-out,
    color .3s ease-in-out;
  width: 100%;
  height: 54px;
  text-align: center;
  align-items: center;
  display: block;
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: inherit;
}

.btn__contact:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

.number {
  text-decoration: none;
  color: #333333;
}

.number.number:hover {
  color: #990100;
}

#birds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -2;
}

.offer {
  margin: 8rem 0;
}

@media screen and (max-width: 600px) {
  .offer {
    margin: 7rem 0 6rem 0;
  }
}

.offer__header {
  font-size: 3rem;
  color: #1d1d1d;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: 700;
}

.offer__subheader {
  font-size: 1.2rem;
  color: #1d1d1d;
  line-height: 1.5;
  font-weight: 400;
  max-width: 600px;
}

.offer__inner,
.offer__subinner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.offer__col,
.offer__subcol {
  width: 40%;
}

@media screen and (max-width: 700px) {
  .offer__subcol {
    justify-content: space-around;
  }
}

.offer__col {
  margin: 2rem 0;
  position: relative;
  transition: 0.3s;
}

@media screen and (max-width: 700px) {
  .offer__col {
    width: 100%;
    margin: 2rem 8rem 2rem 0;
  }
}

@media screen and (max-width: 500px) {
  .offer__col {
    width: 100%;
    margin: 2rem 1rem 2rem 0;
  }
}

.offer__col:hover .round2 {
  opacity: 0%;
}

.offer__col:hover .round1 {
  width: 45px;
  height: 45px;
  border: 2px solid #990100;
  border-radius: 100%;
}

.offer__col:hover .round3 {
  opacity: 0%;
}

.offer__col:hover .offer__title:after {
  display: block;
  width: 100%;
}

.offer__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.offer__title:after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #990100;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 1;
  width: 0%;
  left: 50%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.offer__subtitle {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.offer__text,
.offer__subcol--text {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.offer__text {
  margin-bottom: 2rem;
}

.offer__subcol--numb {
  color: #575757;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}

/*CSS*/
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(117, 0, 10, 0.8);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(117, 0, 10, 0.8);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(117, 0, 10, 0.8);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(117, 0, 10, 0.8);
    box-shadow: 0 0 0 0 rgba(117, 0, 10, 0.8);
  }

  70% {
    -moz-box-shadow: 0 0 0 5px rgba(117, 0, 10, 0.8);
    box-shadow: 0 0 0 5px rgba(117, 0, 10, 0.8);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(117, 0, 10, 0.8);
    box-shadow: 0 0 0 0 rgba(117, 0, 10, 0.8);
  }
}

.round1 {
  border: 1px solid #990100;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  padding: 8px;
  position: absolute;
  transition: 0.3s;
}

.round2 {
  border: 1px solid #990100;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 8px;
  position: absolute;
  transition: 0.1s;
}

.round3 {
  border: 1px solid #990100;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  transition-duration: 3s;
  padding: 8px;
  position: absolute;
  transition: 0.1s;
}

.round3:hover {
  opacity: 0%;
}

.offer__icon--inner {
  display: flex;
  margin-bottom: 1rem;
}

.offer__content {
  margin-top: 4rem;
}

* {
  cursor: none !important;
}

.cursor {
  position: fixed;
  top: 0;
  left: -100px;
  overflow: visible;
  z-index: 100000;
  pointer-events: none;
}

.cursor:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.cursor:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #222;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/*.cursor.dark:after { background: #222; }*/
.cursor.menu-open:after {
  background: #eee;
}

.cursor.menu-open:before {
  border-color: #eee;
}

.cursor.hover:after {
  opacity: 0;
}

.cursor.hover:before {
  opacity: 1;
}

.persona {
  margin-top: 4rem;
}

.persona__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.persona__col--1 {
  width: 40%;
}

@media screen and (max-width: 600px) {
  .persona__col--1 .persona__col {
    width: 100%;
  }
}

.persona__photo {
  margin-top: 0.8rem;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.img__persona {
  width: 100%;
  display: flex;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.persona__col--2 {
  width: 60%;
}

.persona__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.persona__contacts__subcol {
  width: 28%;
}

@media screen and (max-width: 800px) {
  .persona__contacts__subcol {
    width: 49%;
  }

  @media screen and (max-width: 500px) {
    .persona__contacts__subcol {
      width: 100%;
    }
  }

  .persona__contacts__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
  }

  .persona__contacts__item:hover .persona__contacts--number {
    color: #990100;
  }

  .persona__contacts__item--info {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .persona__contacts__item--info {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .persona__col {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .persona__header--1 {
    display: none;
  }
}

.persona__name {
  font-size: 3rem;
  color: #1d1d1d;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .persona__name {
    font-size: 2.3rem;
    margin-top: 2rem;
  }
}

.persona__profession {
  font-size: 1.2rem;
  color: #1d1d1d;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem;
}

.persona__contacts--title {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.6;
  font-weight: 700;
  transition: 0.3s;
}

.persona__contacts--number {
  color: #1d1d1d;
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s;
}

svg {
  fill: #1d1d1d;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .persona__contacts--icon {
    display: none;
  }
}

.graphic__icon {
  fill: none;
}

.graphic__icon:hover {
  fill: none;
}

.persona__contacts--icon {
  margin-top: 8px;
}

.interests__icon {
  fill: none;
}

.interests__icon:hover {
  fill: none;
}

.profile__menu--2 {
  list-style-type: none;
  margin: 3rem 0 6rem 0;
  margin-left: -2rem;
}

li {
  padding-bottom: 0.6rem;
  line-height: 1.4;
}

.profile__inner {
  margin-top: 2rem;
}

.social--persona {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.profile__title {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  margin-bottom: 0.6rem;
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .profile__title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    color: #1d1d1d;
  }
}

.profile__title--right:after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #e2e2e2;
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 1;
  width: 100%;
  left: 50%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.profile__text {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  margin: 3rem 0;
}

.profile__text--2 {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
}

.profile__subtitle {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.6;
  font-weight: 700;
}

.profile__date {
  margin: 3rem 0 0.5rem 0;
}

.mobile-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  top: 0;
  background-color: #ffffff;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
  cursor: pointer !important;
}

@media screen and (min-width: 0px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu--about {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  top: 0;
  background-color: #ffffff;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
  cursor: pointer !important;
}

@media screen and (min-width: 801px) {
  .mobile-menu--about {
    display: none;
  }
}

.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}

.mobile-menu__icon {
  display: block;
  position: relative;
  background: #1d1d1d;
  width: 80%;
  height: 2px;
  transition: .4s;
  cursor: pointer !important;
}

.mobile-menu__icon::after,
.mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #1d1d1d;
  width: 100%;
  height: 2px;
  transition: .4s;
}

.mobile-menu__icon::after {
  top: 8px;
}

.mobile-menu__icon::before {
  top: -8px;
}

.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: .5s;
  overflow: hidden;
  background-color: #ffffff;
  cursor: pointer !important;
}

.mobile-menu__list {
  transition: .5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}

.mobile-menu__item {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  padding-bottom: 1rem;
}

.mobile-menu__link {
  text-decoration: none;
  color: #1d1d1d;
  cursor: pointer !important;
}

.mobile-menu__link:hover {
  color: #990100;
}

.mobile-menu__checkbox {
  display: none;
}

.mobile-menu__checkbox:checked~.mobile-menu__nav {
  opacity: 1;
}

.mobile-menu__checkbox:checked~.mobile-menu__container {
  height: 100%;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  background-color: #990100;
  transform: rotate(45deg);
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  background-color: #990100;
}

.left__inner {
  flex-wrap: wrap;
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.left__col {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .left__col {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .left__inner--lang {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {

  .left__col__lang--1,
  .left__col__lang--2 {
    width: 30%;
    margin-right: 2rem;
  }
}

.left__inner--graphic {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: -1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.left__col--graphic {
  width: 100%;
  margin-left: 0.4rem;
}

.graphic__icon {
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .persona__header--2 {
    display: none;
  }
}

.interests__icon {
  margin-left: -1.5rem;
}

.left-title {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.6;
  font-weight: 700;
}

.left-subtitle {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
}

.social__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__col {
  width: 22%;
}

@media screen and (max-width: 1024px) {
  .social__col {
    width: 48%;
  }
}

@media screen and (max-width: 1024px) and (max-width: 600px) {
  .social__col {
    width: 22%;
  }
}

@media screen and (max-width: 1024px) {
  .social__col:focus {
    color: #990100;
  }
}

@media screen and (max-width: 400px) {
  .social__col {
    width: 100%;
  }

  .social__col:focus {
    color: #990100;
  }
}

.social__col:hover {
  color: #990100;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  position: relative;
  color: #1d1d1d;
}

.social-media:after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #990100;
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 1;
  width: 0%;
  left: 50%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.social-media:hover:after {
  display: block;
  width: 100%;
}

.social__item--title {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.6;
  font-weight: 700;
}

.social__item--text {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
}

.social__item--text:hover {
  color: #990100;
}

.skills__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
}

.skills {
  display: inline-block;
  border: 1.2px solid #e2e2e2;
  padding: 0.6rem 1rem;
  border-radius: 5%;
  margin-right: 1rem;
  margin-top: 0.8rem;
}

.s-skills {
  list-style-type: none;
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
}

.books__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.books__col {
  width: 19%;
  margin-bottom: 2rem;
  margin-right: 4rem;
}

@media screen and (max-width: 400px) {
  .books__col {
    width: 100%;
    margin-right: 0rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 401px) {
  .books__col {
    width: 47%;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 900px) {
  .books__col {
    width: 19%;
    margin-bottom: 2rem;
    margin-right: 4rem;
  }
}

.books__title {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.6;
  font-weight: 700;
}

.books__link {
  color: #990100;
  margin-bottom: 1rem;
}

.books__link:hover {
  border-color: #990100;
  text-decoration-line: underline;
}

.book__descr {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
}

.travel-photo {
  width: 100%;
  height: 600;
  overflow: hidden;
  padding-top: 1rem;
}

.travel-photo__img {
  display: flex;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.travel__inner {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.travel__inner--1 {
  align-items: flex-start;
  margin: 3rem 0 3rem 0;
  flex-wrap: wrap;
}

.travel__col--1 {
  width: 40%;
}

.travel__col--2 {
  width: 49%;
}

.travel__col--4 {
  width: 49%;
}

.travel__col--5 {
  width: 30%;
}

.travel__col--3 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.project-img {
  display: flex;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0 8rem 0;
}

.project-img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.travel__descr {
  margin-bottom: 1.5rem;
}

.travel__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1d1d1d;
  margin-bottom: 1.5rem;
}

.travel__name {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.6;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.travel__text {
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.round {
  width: 50px;
  height: 50px;
  background-color: #e2e2e2;
  opacity: 10%;
  border-radius: 100%;
  margin-top: 590px;
  right: 5rem;
  position: fixed;
  transition: 0.3s;
  z-index: 100;
  display: none;
  background-color: #e2e2e2;
  opacity: 60%;
}

@media screen and (max-width: 500px) {
  .round {
    visibility: hidden;
  }
}

.round:hover {
  opacity: 90%;
}

.anchor {
  display: none;
  color: #e2e2e2;
  position: fixed;
  float: right;
  display: flex;
  padding-top: 602px;
  right: 6rem;
  opacity: 0.8;
  z-index: 10;
}


canvas {
  display: block;
  right: 0%;
  margin: -200px 0 0 -200px;
  position: absolute;
  top: 40%;
}

@media screen and (max-width: 1024px) {
  canvas {
    top: 50%;
  }
}

@media screen and (max-width: 600px) {
  canvas {
    display: none;
  }
}
